﻿@model ProductCatalog.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Product  @Html.DisplayFor(model => model.Id)</h2>

<form class="needs-validation">
    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Name</label>
        <input type="text" class="form-control" value="@Model.name" id="name" disabled>
    </div>
    <div class="form-group row">
        <label for="r1" class="col-sm-2 col-form-label">Priority</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="priority" id="r1" value="low" disabled>
            <label class="form-check-label" for="r1">Low</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="priority" id="r2" value="high" disabled>
            <label class="form-check-label" for="r2">High</label>
        </div>
    </div>
    <div>
        <a href="@Url.Action("Index")" class="btn btn-primary">Back to List</a>
        <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-success">Edit</a>
        <a href="@Url.Action("Delete", new { id = Model.Id })" class="btn btn-danger">Delete</a>
    </div>
</form>

@using Newtonsoft.Json
<script type="text/javascript">

    var data = @Html.Raw(JsonConvert.SerializeObject(this.Model));
    if (data.priority == 'low') {
        document.getElementById("r1").checked = true;
    } else {
        document.getElementById("r2").checked = true;
    }

</script>